.App {
  min-height: 100vh;
  position: relative;
}

/* 移除預設的 margin 和 padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0c0c0c;
  color: #fff;
  overflow-x: hidden;
}
